<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mountaineer</title>

    <!--   Bootstrap Core CSS   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!--   Custom Styling  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <!--  Navigation  -->
    <nav class="navbar" id="mainNav">
      <div class="container">
        <h1>Mountaineer</h1>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container border">
      {% for event in events %}
      <hr class="event-separator">
      <!--   Event   -->
      <div class="row event-container">
        <!--    Event Info    -->
        <div class="col-lg-3 event-info">
          {% set event_banner_filepath = "banners/" ~ event["event_data"]["event_banner"] ~ ".png" %}
          <img class="event-banner-img" src="{{ url_for('static', filename=event_banner_filepath) }}" alt="">
          <h1>{{ event["event_name"] }}</h1>
        </div>
        <div class="col-lg-9">
          <!--    New Operators    -->
          {% if event["new_operators"] | length > 0 or event["headhunting"]["recruitment"] | length > 0 %}
          <div class="row border event-section rounded">
            {% if event["new_operators"] | length > 0 %}
            <div class="col-lg-6">
              <h1 class="event-subsection-heading">New Operators</h1>
              <span class="new-operator-listing">
                {% for new_op in event["new_operators"] %}
                {% set op_filepath = game['operators'][new_op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][new_op]['name'] }}" class="listing-img op-img">
                {% endfor %}
              </span>
            </div>
            {% endif %}
            <!--      Recruitment Update      -->
            {% if event["headhunting"]["recruitment"] | length > 0 %}
            <div class="col-lg-6">
              <span class="new-operator-listing">
                <h1 class="event-subsection-heading">Recruitment Update</h1>
                {% for op in event["headhunting"]["recruitment"] %}
                {% set op_filepath = game['operators'][op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][op]['name'] }}" class="listing-img op-img">
                {% endfor %}
              </span>
            </div>
            {% endif %}
          </div>
          {% endif %}

          <!--    Event Rewards    -->
          <div class="row border event-section rounded">
            <h1 class="event-section-heading">Event Rewards</h1>
            <!--      T3 Drops      -->
            {% if event["rewards"]["t3_drops"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">T3 Drops</h2>
              {% for mat in event["rewards"]["t3_drops"] %}
              {% set mat_filepath = "items/" ~ game['items'][mat]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][mat]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=mat_filepath) }}" alt="{{ game['items'][mat]['name'] }}" class="listing-img">
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Store Totals      -->
            {% if event["rewards"]["store_totals"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Store Totals</h2>
              {% for item in event["rewards"]["store_totals"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["store_totals"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Task Rewards      -->
            {% if event["rewards"]["task_rewards"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Task Rewards</h2>
              {% for item in event["rewards"]["task_rewards"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["task_rewards"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Seasonal Store Totals      -->
            {% if event["rewards"]["seasonal_store_totals"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Seasonal Store Totals</h2>
              {% for item in event["rewards"]["seasonal_store_totals"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["seasonal_store_totals"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Permanent Store Additions      -->
            {% if event["rewards"]["permanent_store_additions"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Permanent Store Additions</h2>
              {% for item in event["rewards"]["permanent_store_additions"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["permanent_store_additions"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Milestone Totals      -->
            {% if event["rewards"]["milestone_totals"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Milestone Totals</h2>
              {% for item in event["rewards"]["milestone_totals"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["milestone_totals"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
            <!--      Intelligence Cert. Store Additions      -->
            {% if event["rewards"]["intelligence_cert_store_additions"] | length > 0 %}
            <span class="rewards-listing">
              <h2 class="event-subsection-heading">Intelligence Cert. Store Additions</h2>
              {% for item in event["rewards"]["intelligence_cert_store_additions"] %}
              {% set item_filepath = "items/" ~ game['items'][item]['img_path'] ~ ".png" %}
              {% set item_bg = "material/bg/item-" ~ game['items'][item]['tier'] ~ ".png" %}
              <div class="listing-item" style="background-image: url({{ url_for('static', filename=item_bg) }})">
                <img src="{{ url_for('static', filename=item_filepath) }}" alt="{{ game['items'][item]['name'] }}" class="listing-img">
                <div class="item-quantity-text">{{ event["rewards"]["intelligence_cert_store_additions"][item] }}</div>
              </div>
              {% endfor %}
            </span>
            {% endif %}
          </div>

          <!--    Misc. Additions    -->
          <div class="row border event-section rounded">
            <h1 class="event-section-heading">Misc. Additions</h1>

            <!--      Operator Modules      -->
            {% if event["operator_modules"]["first"] | length > 0 or event["operator_modules"]["second"] | length > 0 or event["operator_modules"]["new_operators"] | length > 0 %}
            <h2 class="event-subsection-heading">Operator Modules</h2>
            {% endif %}
            <!--      First Modules      -->
            {% if event["operator_modules"]["first"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>New Modules</h3>
              {% for op in event["operator_modules"]["first"] %}
              {% set op_filepath = game['operators'][op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][op]['name'] }}" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Second Modules      -->
            {% if event["operator_modules"]["second"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>Second Modules</h3>
              {% for op in event["operator_modules"]["second"] %}
              {% set op_filepath = game['operators'][op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][op]['name'] }}" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      New Operators' Modules      -->
            {% if event["operator_modules"]["new_operators"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>New Operators</h3>
              {% for op in event["operator_modules"]["new_operators"] %}
              {% set op_filepath = game['operators'][op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][op]['name'] }}" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Operator Skins      -->
            <h2 class="event-subsection-heading">Operator Skins</h2>
            <!--      New Skins      -->
            {% if event["operator_skins"]["new"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>New</h3>
              {% for key, value in event["operator_skins"]["new"].items() %}
              {% set skin_filepath = game['operators'][key]['icon'] ~ "_" ~ skins['skins'][key][value] ~ ".png" %}
                <img src="{{ url_for('static', filename=skin_filepath) }}" alt="" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Skin Reruns      -->
            {% if event["operator_skins"]["rerun"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>Rerun</h3>
              {% for key, value in event["operator_skins"]["rerun"].items() %}
              {% set skin_filepath = game['operators'][key]['icon'] ~ "_" ~ skins['skins'][key][value] ~ ".png" %}
                <img src="{{ url_for('static', filename=skin_filepath) }}" alt="" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Skins Added to Fashion Review      -->
            {% if event["operator_skins"]["fashion_review"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>Added to Fashion Review</h3>
              {% for key, value in event["operator_skins"]["fashion_review"].items() %}
              {% set skin_filepath = game['operators'][key]['icon'] ~ "_" ~ skins['skins'][key][value] ~ ".png" %}
                <img src="{{ url_for('static', filename=skin_filepath) }}" alt="" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Skins Added to CC Permanent Store      -->
            {% if event["operator_skins"]["permanent_store_additions"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>CC Permanent Store Additions</h3>
              {% for key, value in event["operator_skins"]["permanent_store_additions"].items() %}
              {% set skin_filepath = game['operators'][key]['icon'] ~ "_" ~ skins['skins'][key][value] ~ ".png" %}
                <img src="{{ url_for('static', filename=skin_filepath) }}" alt="" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Skins Part of Milestone Totals      -->
            {% if event["operator_skins"]["milestone_totals"] | length > 0 %}
            <div class="col-lg-4 misc-listing">
              <h3>Added to Permanent Store</h3>
              {% for key, value in event["operator_skins"]["milestone_totals"].items() %}
              {% set skin_filepath = game['operators'][key]['icon'] ~ "_" ~ skins['skins'][key][value] ~ ".png" %}
                <img src="{{ url_for('static', filename=skin_filepath) }}" alt="" class="listing-img op-img">
              {% endfor %}
            </div>
            {% endif %}
            <!--      Operator Records and Paradox Simulations      -->
            {% if event["operator_records_paradox_simulations"] | length > 0 %}
            <span class="misc-listing">
              <h2 class="event-subsection-heading">Operator Records & Paradox Simulations</h2>
              {% for op in event["operator_records_paradox_simulations"] %}
              {% set op_filepath = game['operators'][op]['icon'] ~ ".png" %}
                <img src="{{ url_for('static', filename=op_filepath) }}" alt="{{ game['operators'][op]['name'] }}" class="listing-img op-img">
              {% endfor %}
            </span>
            {% endif %}
          </div>
        </div>
      </div>
      <hr class="event-separator">
      {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>